<div
style="
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
"
>
<button (click)="increment()">Increment</button>
<div>Current count {{count$ | async}}</div>
<button (click)="decrement()">Decrement</button>
<button (click)="reset()">Reset Counter</button>
<fa-icon [icon]="faCoffee"></fa-icon>
</div>


<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>


